---
import BedIcon from "../components/icons/BedIcon.astro";
import BathIcon from "../components/icons/BathIcon.astro";
import RulerIcon from "../components/icons/RulerIcon.astro";

const { house }: { house: House } = {
  house: {
    id: 0,
    title: "",
    flat: "",
    address: "",
    mapAddress: "",
    price: 0,
    description: "",
    bedrooms: 0,
    bathrooms: 0,
    total_area: 0,
    living_area: 0,
    garage: false,
    pet: false,
    garden: false,
    airConditioned: false,
    heating: false,
    accesible: false,
    furnished: false,
    terrace: false,
    active: false,
    rentable: false,
    construction_year: 0,
    images: []
  },
  ...Astro.props,
};

import type { House } from "../model/house";
import type { HouseImage } from "../model/image";

const houseImages: HouseImage[] = house.images.map((item) => {
  return item;
});
---

<article class="bg-primary-600 mb-5 cursor-pointer relative">
  <a href={`/house/${house.id}`} class="justify-center items-start flex flex-row cursor-pointer">
    {house.images && house.images.length > 0 && (
    <img
      src={houseImages[0].url}
      alt=""
      class="cover w-[700px] aspect-video object-cover"
    />
    )}
    <div class="p-5 w-[400px] flex flex-col justify-start items-start">
      <h1 class="text-4xl font-semibold">{house.title}</h1>
      <p class="text-gray-600 text-2xl lg:text-base mt-2">{house.address}</p>
      <p class="mb-4 font-bold text-3xl lg:text-2xl text-accent-400">
        €{house.price.toLocaleString()}
      </p>
      <div class="houseProp mb-2">
        <div class="scale-100"><BedIcon /></div><p class="pl-8 lg:pl-4 text-2xl lg:text-base">{house.bedrooms} cuartos</p>
      </div>

      <div class="houseProp mb-2">
        <div class="scale-100"><BathIcon /></div><p class="pl-8 lg:pl-4 text-2xl lg:text-base">{house.bedrooms} baños</p>
      </div>

      <div class="houseProp">
        <div class="scale-100"><RulerIcon /></div><p class="pl-8 lg:pl-4 text-2xl lg:text-base">
          {house.total_area} m² de area total
        </p>
      </div>

      <!-- <div class="w-full flex justify-center absolute bottom-5 left-87">
        <div class="inline-block px-8 py-4 bg-accent-400 hover:bg-white active:bg-white text-white hover:text-black active:text-black">Ver más</div>
      </div> -->
    </div>
  </a>
</article>
