---
const { house } = Astro.props;

import DeleteButton from "../components/deleteButton.jsx";
---

<div class="border rounded-lg shadow-md p-4">
  <a href={`/house/${house.id}`}>
    <h2 class="text-xl font-semibold">{house.title}</h2>
    <p class="text-gray-600">{house.address}</p>
    <p class="font-bold text-lg text-green-600">
      €{house.price.toLocaleString()}
    </p>
    <p class="text-sm mt-2">{house.description}</p>
    <p class="text-sm mt-2">Baños: {house.bathrooms}</p>
  </a>
  <DeleteButton id={house.id} client:load />
</div>
