---
import HouseCard from "../components/HouseCard.astro";
import "../styles/tailwind.css";
import type { House } from "../model/house";
import Header from "../components/Header.astro";
const PORT = process.env.PORT || 3001;

const response = await fetch(`http://localhost:${PORT}/houses`);
const houses = await response.json();

const soldableHouse = houses
  .filter((house: House) => house.rentable === false)
  .filter((house: House) => house.active === true);
const soldableQuantity = soldableHouse.length;

const rentableHouse = houses
  .filter((house: House) => house.rentable === true)
  .filter((house: House) => house.active === true);
const rentableQuantity = rentableHouse.length;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Vive</title>
    <script type="module">
      window.houseView = {
        showRentable: false,
        toggleRentable() {
          this.showRentable = !this.showRentable;
          document
            .getElementById("rentable")
            .classList.toggle("hidden", !this.showRentable);
          document
            .getElementById("non-rentable")
            .classList.toggle("hidden", this.showRentable);
          document
            .getElementById("nav")
            .classList.toggle("translate-x-0", !this.showRentable);
          document
            .getElementById("nav")
            .classList.toggle("translate-x-[68%]", this.showRentable);
          document
            .getElementById("nav")
            .classList.toggle("lg:translate-x-[80%]", this.showRentable);
          document
            .getElementById("content")
            .classList.toggle("is-rentable", this.showRentable);
        },
      };
    </script>
    <style>
      #content.is-rentable {
        background-color: #7fa92a; /* no funciona aquí, así que sustituye directamente */
        background-color: #7fa92a !important; /* ejemplo de accent-400 */
      }
    </style>
  </head>
  <body class="font-sans bg-primary-600">
    <Header />
    <main
      id="content"
      class="flex-col mt-30 lg:mt-20 transition-all duration-500 ease-in-out bg-accent-500"
    >
      <nav
        id="nav"
        class="flex h-20 transition-transform duration-500 ease-in-out transform"
      >
        <button
          class="bg-accent-400 text-white font-bold flex justify-center items-center text-center px-10 cursor-pointer"
          onclick="houseView.toggleRentable()">COMPRAR</button
        >
        <button
          class="bg-accent-500 text-white font-bold flex justify-center items-center text-center px-10 cursor-pointer"
          onclick="houseView.toggleRentable()">ALQUILAR</button
        >
      </nav>

      <section
        id="non-rentable"
        class="justify-items-center bg-accent-400 py-5"
      >
      <h1 class="text-3xl text-white mb-6">
        En OasisVive tenemos {soldableQuantity === 1 ? <strong>{soldableQuantity} casa</strong> : <strong>{soldableQuantity} casa</strong> } en venta
        para tí en Valencia.
      </h1>
        {
          soldableHouse.map((house: House) => (
            <HouseCard key={house.id} house={house} />
          ))
        }
      </section>

      <section
        id="rentable"
        class="justify-items-center bg-accent-500 py-5 hidden"
      >
        <h1 class="text-3xl text-white mb-6">
          En OasisVive tenemos {rentableQuantity === 1 ? <strong>{rentableQuantity} casa</strong> : <strong>{rentableQuantity} casa</strong> } en alquiler
          para tí en Valencia.
        </h1>
        {
          rentableHouse.map((house: House) => (
            <HouseCard key={house.id} house={house} />
          ))
        }
      </section>
    </main>
  </body>
</html>
