---
import HouseCard from "../components/HouseCard.astro";
import "../styles/tailwind.css";
import type { House } from "../model/house";
import Header from "../components/Header.astro";
import RentHouseCard from "../components/RentHouseCard.astro";
const PORT = process.env.PORT || 3001;

const response = await fetch(`http://localhost:${PORT}/houses`);
const houses = await response.json();

const soldableHouse = houses
  .filter((house: House) => house.rentable === false)
  .filter((house: House) => house.active === true);
const soldableQuantity = soldableHouse.length;

const rentableHouse = houses
  .filter((house: House) => house.rentable === true)
  .filter((house: House) => house.active === true);
const rentableQuantity = rentableHouse.length;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Oasis Vive</title>
    <script type="module">
      window.houseView = {
        showRentable: false,
        toggleRentable() {
          this.showRentable = !this.showRentable;
          this.updateView();
        },
        updateView() {
          document
            .getElementById("rentable")
            .classList.toggle("hidden", !this.showRentable);
          document
            .getElementById("non-rentable")
            .classList.toggle("hidden", this.showRentable);
          document
            .getElementById("content")
            .classList.toggle("is-rentable", this.showRentable);
          document
            .getElementById("option1")
            .classList.toggle("bg-white", this.showRentable);
          document
            .getElementById("option1")
            .classList.toggle("bg-primary-500", !this.showRentable);
          document
            .getElementById("option1")
            .classList.toggle("text-primary-500", this.showRentable);
          document
            .getElementById("option1")
            .classList.toggle("text-white", !this.showRentable);
          document
            .getElementById("option2")
            .classList.toggle("bg-accent-500", this.showRentable);
          document
            .getElementById("option2")
            .classList.toggle("bg-white", !this.showRentable);
          document
            .getElementById("option2")
            .classList.toggle("text-white", this.showRentable);
          document
            .getElementById("option2")
            .classList.toggle("text-accent-500", !this.showRentable);
        },
      };

      // Aplica los estilos iniciales al cargar la página
      window.addEventListener("DOMContentLoaded", () => {
        window.houseView.updateView();
      });
    </script>
  </head>
  <body class="inter-font">
    <Header />
    <main
      id="content"
      class="flex-col mt-30 lg:mt-20"
    >
      <nav
        id="nav"
        class="flex pt-5 h-20 justify-center"
      >
        <button
          id="option1"
          class="text-white text-3xl lg:text-xl font-bold flex justify-center items-center text-center px-10 cursor-pointer rounded-xl"
          onclick="houseView.toggleRentable()">QUIERO COMPRAR</button
        >
        <button
          id="option2"
          class="text-white text-3xl lg:text-xl font-bold flex justify-center items-center text-center px-10 cursor-pointer rounded-xl"
          onclick="houseView.toggleRentable()">ALQUILAR</button
        >
      </nav>

      <section id="non-rentable" class="justify-items-center py-5 px-8">
        <h1 class="text-3xl text-primary-400 mb-6 text-center">
          En OasisVive tenemos {
            soldableQuantity === 1 ? (
              <strong>{soldableQuantity} casa</strong>
            ) : (
              <strong>{soldableQuantity} casa</strong>
            )
          } en venta para tí en Valencia.
        </h1>
        {
          soldableHouse.map((house: House) => (
            <HouseCard key={house.id} house={house} />
          ))
        }
      </section>

      <section id="rentable" class="justify-items-center py-5 px-8 hidden">
        <h1 class="text-3xl text-accent-400 mb-6 text-center">
          En OasisVive tenemos {
            rentableQuantity === 1 ? (
              <strong>{rentableQuantity} casa</strong>
            ) : (
              <strong>{rentableQuantity} casa</strong>
            )
          } en alquiler para tí en Valencia.
        </h1>
        {
          rentableHouse.map((house: House) => (
            <HouseCard key={house.id} house={house} />
          ))
        }
      </section>
    </main>
  </body>
</html>
