---
import "../../styles/tailwind.css";
import Header from "../../components/Header.astro";
import Carrousel from "../../components/Carrousel";
import BedIcon from "../../components/icons/BedIcon.astro";
import BathIcon from "../../components/icons/BathIcon.astro";
import RulerIcon from "../../components/icons/RulerIcon.astro";
import RulerLineIcon from "../../components/icons/RulerLineIcon.astro";
import CarIcon from "../../components/icons/CarIcon.astro";
import FenceIcon from "../../components/icons/FenceIcon.astro";
import HammerIcon from "../../components/icons/HammerIcon.astro";
import type { House } from "../../model/house";
import type { HouseImage } from "../../model/image";
import MapLoader from "../../components/MapLoader.tsx";
import QuickCall from "../../components/QuickCall.astro";
import SofaIcon from "../../components/icons/SofaIcon.astro";
import AccesibilityIcon from "../../components/icons/AccesibilityIcon.astro";
import HeaterIcon from "../../components/icons/HeaterIcon.astro";
import DogIcon from "../../components/icons/DogIcon.astro";
import AirIcon from "../../components/icons/AirIcon.astro";

export const prerender = false;

const { id } = Astro.params;
const PORT = process.env.PORT || 3001;
const res = await fetch(`http://localhost:${PORT}/houses/${id}`);
if (!res.ok) {
  throw new Error("House not found");
}
const house: House = await res.json();
const imagesArray: HouseImage[] = [...house.images];
const isRentable = house.rentable
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{house.title} | OasisLive</title>
    <meta name="description" content={house.description} />
  </head>
  <body class="inter-font">
    <Header />
    <main class="justify-items-center mt-30 lg:mt-20">
      <div class=`${isRentable ? "bg-accent-700" : "bg-primary-700"} w-full lg:w-200 shadow-2xl`>
        {
          house.images?.length > 0 ? (
            <Carrousel client:load images={imagesArray} />
          ) : (
            <p class="text-gray-500 mb-6">No images available.</p>
          )
        }
        <div class="px-4 py-8 lg:py-4">
          <h1 class="text-7xl lg:text-4xl font-bold text-black">
            {house.title}
          </h1>
          <p class=`w-100 lg:w-70 px-8 lg:px-4 py-4 lg:py-2 mt-8 lg:mt-4 ${isRentable ? "bg-primary-500" : "bg-accent-500"} text-white text-7xl lg:text-5xl font-extrabold rounded-xl text-center`>
            {house.price.toLocaleString()} €
          </p>
          <h2 class=`text-5xl lg:text-2xl mt-8 lg:mt-4 ${isRentable ? "text-primary-200" : "text-accent-200"}`>{house.address}</h2>
          <p class=`mt-2 lg:mt-0 text-4xl lg:text-xl ${isRentable ? "text-primary-300" : "text-accent-300"}`>
            {house.living_area} m² | {house.bedrooms} hab. {house.flat && `| ${house.flat}`} 
          </p>
          <p class="mt-10 lg:mt-5 mb-4 lg:mb-0 font-bold text-4xl lg:text-base text-primary-100">
            Descripción del vendedor:
          </p>
          <h3 class="text-4xl lg:text-base">{house.description}</h3>

          <p class="mt-10 lg:mt-5 mb-4 lg:mb-0 font-bold text-4xl lg:text-base text-primary-100">
            Características básicas:
          </p>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4 px-4 py-4">
            <div class="houseProp">
              <div class="scale-200 lg:scale-100"><BedIcon /></div><p
                class="housePropText"
              >
                {house.bedrooms === 1 ? `${house.bedrooms} cuarto` : `${house.bedrooms} cuartos`}  
              </p>
            </div>

            <div class="houseProp">
              <div class="scale-200 lg:scale-100"><BathIcon /></div><p
                class="housePropText"
              >
              {house.bathrooms === 1 ? `${house.bathrooms} baño` : `${house.bathrooms} baños`}
              </p>
            </div>

            <div class="houseProp">
              <div class="scale-200 lg:scale-100"><RulerIcon /></div><p
                class="housePropText"
              >
                {house.total_area} m² area total
              </p>
            </div>

            <div class="houseProp">
              <div class="scale-200 lg:scale-100"><RulerLineIcon /></div>
              <p class="housePropText">
                {house.living_area} m² area habitable
              </p>
            </div>

            {
              house.garage && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <CarIcon />
                  </div>
                  <p class="housePropText">Garaje incluido</p>
                </div>
              )
            }

            {
              house.terrace && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <FenceIcon />
                  </div>
                  <p class="housePropText">Terraza</p>
                </div>
              )
            }

            {
              house.garden && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <FenceIcon />
                  </div>
                  <p class="housePropText">Jardín</p>
                </div>
              )
            }

            {
              house.furnished && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <SofaIcon />
                  </div>
                  <p class="housePropText">Amueblado</p>
                </div>
              )
            }

            {
              house.accesible && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <AccesibilityIcon />
                  </div>
                  <p class="housePropText">Accesible</p>
                </div>
              )
            }

            {
              house.airConditioned && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <AirIcon />
                  </div>
                  <p class="housePropText">Aire acondicionado</p>
                </div>
              )
            }

            {
              house.heating && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <HeaterIcon />
                  </div>
                  <p class="housePropText">Calefacción</p>
                </div>
              )
            }

            {
              house.pet && (
                <div class="houseProp">
                  <div class="scale-200 lg:scale-100">
                    <DogIcon />
                  </div>
                  <p class="housePropText">Mascotas permitidas</p>
                </div>
              )
            }

            <div class="houseProp">
              <div class="scale-200 lg:scale-100"><HammerIcon /></div><p
                class="housePropText"
              >
                Se construyó en {house.construction_year}
              </p>
            </div>
          </div>

          <div id="map-container" class="z-10 mb-50">
            <MapLoader client:only="react" address={house.mapAddress} />
          </div>
        </div>
      </div>
      <QuickCall />
    </main>
  </body>
</html>
